*{
    color:aliceblue
}
:root{
    --main-color:#02052e;
    --white-color:#fafdf8;
    --gray-color:#4445566e;
    --shadow:8px 1px 5px #060916cf;
    --compenents-height:70%;
    --radius:20px;
}
.flex-container{
    display: flex;
}
.elements-centrelized{
    align-items: center;
    justify-content: center;
}

.app{
    justify-content: space-evenly;
}

.menu{
    flex-direction: column;
    justify-content: space-around;
    height: var(--compenents-height);
    background-color: var(--main-color);
    padding: 1vh 2vw;
    border-radius: var(--radius);
}

.icon{
    background-color: var(--gray-color);
    padding: .5vh .5vw;
    width: 2vw;
    border-radius: 50%;
}

.contacts{
    overflow-y: auto;
    flex-flow: column nowrap;
    gap:3vh;
    width: fit-content;
    height: var(--compenents-height);
    background-color: var(--main-color);
    padding: 1vh 2vw;
    border-radius: 20px;
}

.friend{
    height: 5vh;
    width: 13vw;
    justify-content: space-around;
    align-items: center;
    border-radius: var(--radius);
    background-color: var(--gray-color);
    padding: 1vh 0.5vw;
    
}
.search-bar{
    height: 5vh;
    width: 13vw;
    align-items: center;
    border-radius: var(--radius);
    background-color: var(--gray-color);
    border: none;
}
.contacts-menu{
    flex-flow: column wrap;
    align-items: center;
    gap: 0.5vh;
}
.menu .icon:hover,.friend:hover{
    opacity: 0.8;
}

.grid-container{
    display: grid;
}

.chat{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: var(--main-color);
    justify-items: center;
    align-items: center;
    border-radius: var(--radius);
    width: 45vw;
    height: var(--compenents-height);
}

.friend-information{
    width: 95%;
    border-bottom: 2px solid var(--gray-color);
    justify-content: center;
    padding: 1vh 0;
}